.App {
  text-align: center;
  background-image: url("../public/bg.gif");
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: url("../public/bg.gif");
  background-repeat: no-repeat;
  background-color: #282c34;
  background-size: 100vw 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Body-wrapper {
  color: #000000;
  margin-top: 10vh;
  padding: 1rem;
  background-color: gray;
  opacity: 0.75;
  border-radius: 2rem;
}

.Input-fields {
  min-width: 75vw;
}

.App-link {
  color: #61dafb;
}

.Inventory-Wrapper {
  background-color: gray;
  opacity: 0.8;
  border-radius: 2rem;
  min-height: 100%;
  max-width: 100%;
}
.Slot-Wrapper {
  margin: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Inventory-Slot {
  padding: 2rem;
  margin: 1rem;

  border-radius: 1rem;
  border: black 3px solid;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
